@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	--theme-color-neutral: oklch(0.8682 0.0499 90.53);
	--theme-color-neutral-secondary: oklch(0.5682 0.0499 90.53);
	--theme-color-primary: oklch(0.3724 0.0499 90.53);
	--theme-color-secondary: oklch(0.9994 0 200.53);
}

body {
	background-color: var(--theme-color-neutral);
	color: var(--theme-color-primary);
	font-size: 18px;
	@apply font-serif;
}

@theme {
	--color-neutral: var(--theme-color-neutral);
	--color-neutral-secondary: var(--theme-color-neutral-secondary);
	--color-primary: var(--theme-color-primary);
	--color-secondary: var(--theme-color-secondary);

	--font-serif: 'Libertinus Serif', serif;
	/* TODO: Not worky */
	/*--font-math: 'Libertinus Math', 'Libertinus Serif', serif;*/
}

a:hover {
	@apply underline;
}

@layer components {
	.column {
		@apply mx-auto max-w-xl px-2 pt-4 pb-8;
	}
}
